{% extends 'web/partials/base.html' %}
{% load static %}
{% block content %}

<main class="creasoft-wrap">




    <section class="breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="breadcrumb-wrapper">
                        <div class="breadcrumb-cnt">
                            <h1>Service Details</h1>
                            <span><a href="/">Home</a><i class="bi bi-arrow-right"></i>Service
                                Details</span>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="service-details sec-mar-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="service-details-content">
                        <img src="{% static 'web/img/blog/blog-thumnail.jpg' %}" alt="">
                        <h3 style="color: white;">Software Development
                        </h3>
                        <p>Interdum et malesuada fames ac ante ipsum primis in faucibus. Etiam eu nibh elementum,
                            accumsan ona neque ac, aliquet nunc. In eu ipsum fringilla, accumsan purus vel,
                            pellentesque risus. Vivamus vehicula nlpurus at eros interdum, in dignissim nulla
                            vestibulum. Nunc sit amet finibus felis, ut egestas lacus. Sedanpellentesque quis magna
                            eu vestibulum. Ut sed commodo neque. Morbi erat nisi, vehicula quis faucibus il</p>
                        <p>ut, hendrerit vel tortor. In pharetra lectus luctus ornare sollicitudin. Pellentesque at
                            neque nec justo sokal porttitor egestas nec eget ex.Etiam suscipit neque elit, hendrerit
                            laoreet quam ultrices id. Proin nec tolde lacinia ligula, sed laoreet ex. Sed nisl
                            ligula, euismod vel justo scelerisque,</p>
                        <p>vestibulum ultricies tellus. volv Pellentesque vel turpis vitae urna tincidunt hendrerit
                            at ut est. Sed eget feugiat felis. Integer sed ornare sem, eget porttitor nisi. Nunc
                            erat sapien, porta laoreet gravida ac, </p>
                        <div class="buttons">
                            <div class="cmn-btn">
                                <div class="line-1"></div>
                                <div class="line-2"></div>
                                <a href="#">Chat With Expert</a>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
            <div class="service-items sec-mar-top">
                <div class="service-details-item">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="single-details" >
                                <h4 style="color: white;"><span>01</span>Brainstroming & Wirefarme</h4>
                                <p style="color: white;">Interdum et malesuada fames ac ante ipsum primis in faucibus. Etiam eu nibh
                                    elementum, accumsan ona vestibulum ultricies tellus. volv Pellentesque vel tu
                                    neque ac, aliquet nunc. In eu ipsum fringilla, accumsan purus vel, tourbakaniv
                                    pellentesque risus. Vivamus vehicula nl hendrerit vel tortor. In pharetra lectus
                                    purus at eros interdum, in dignissim nulla vestibulum. Nunc sit amet finibuson
                                    felis, ut egestas lacus. Sedan pellentesque quis magna eu vestibulum. Olangb
                                    pellentesque quis magna eu vestibulum. Ut sed commodo neque. Morbi erat nisi,
                                    vehicula quis faucibus il</p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="single-details-thumb">
                                <img src="{% static 'web/img/blog/thumb-1.jpg' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="service-details-item">
                    <div class="row">
                        <div class="col-lg-6 or-2">
                            <div class="single-details-thumb">
                                <img src="{% static 'web/img/blog/thumb-2.jpg' %}" alt="">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="single-details">
                                <h4 style="color: white;"><span>02</span>UI Design</h4>
                                <p style="color: white;">Interdum et malesuada fames ac ante ipsum primis in faucibus. Etiam eu nibh
                                    elementum, accumsan ona vestibulum ultricies tellus. volv Pellentesque vel tu
                                    neque ac, aliquet nunc. In eu ipsum fringilla, accumsan purus vel, tourbakaniv
                                    pellentesque risus. Vivamus vehicula nl hendrerit vel tortor. In pharetra lectus
                                    purus at eros interdum, in dignissim nulla vestibulum. Nunc sit amet finibuson
                                    felis, ut egestas lacus. Sedan pellentesque quis magna eu vestibulum. Olangb
                                    pellentesque quis magna eu vestibulum. Ut sed commodo neque. Morbi erat nisi,
                                    vehicula quis faucibus il</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="service-details-item">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="single-details">
                                <h4 style="color: white;"><span>03</span>Final Developing</h4>
                                <p style="color: white;">Interdum et malesuada fames ac ante ipsum primis in faucibus. Etiam eu nibh
                                    elementum, accumsan ona vestibulum ultricies tellus. volv Pellentesque vel tu
                                    neque ac, aliquet nunc. In eu ipsum fringilla, accumsan purus vel, tourbakaniv
                                    pellentesque risus. Vivamus vehicula nl hendrerit vel tortor. In pharetra lectus
                                    purus at eros interdum, in dignissim nulla vestibulum. Nunc sit amet finibuson
                                    felis, ut egestas lacus. Sedan pellentesque quis magna eu vestibulum. Olangb
                                    pellentesque quis magna eu vestibulum. Ut sed commodo neque. Morbi erat nisi,
                                    vehicula quis faucibus il</p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="single-details-thumb">
                                <img src="{% static 'web/img/blog/thumb-3.jpg' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="services-grid  sec-mar">
        <div class="container">
            <div class="title-wrap">
                <div class="sec-title ">
                    <span>Some Of Our Project</span>
                    <h2 style="color: white;">Services</h2>

                </div>
            </div>
            <div class="row g-4">

              
                <div class="col-md-6 col-lg-4 wow ">
                    <a href="{% url 'web:servicesingle' %}">
                        <div class="single-service">
                            <h4>Web Design</h4>
                            <p>Integer purus odio, placerat nec rhoncu in, ullamcorper nec dolor.</p>

                        </div>
                    </a>

                </div>
                <div class="col-md-6 col-lg-4 wow ">
                    <a href="{% url 'web:servicesingle' %}">
                        <div class="single-service">
                            <h4>Web Design</h4>
                            <p>Integer purus odio, placerat nec rhoncu in, ullamcorper nec dolor.</p>

                        </div>
                    </a>

                </div>
                <div class="col-md-6 col-lg-4 wow ">
                    <a href="{% url 'web:servicesingle' %}">
                        <div class="single-service">
                            <h4>Web Design</h4>
                            <p>Integer purus odio, placerat nec rhoncu in, ullamcorper nec dolor.</p>

                        </div>
                    </a>

                </div>

            </div>
        </div>
    </section>



    {% include 'web/partials/footer.html' %}

</main>
{% endblock %}